<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secret_Di.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Secret_Di.Settings1>
            <setting name="lastpath" serializeAs="String">
                <value>C:\Users\salim\Desktop\İngilizce Defteri.txt</value>
            </setting>
            <setting name="Dict" serializeAs="String">
                <value />
            </setting>
        </Secret_Di.Settings1>
    </userSettings>
</configuration>